<div style="text-align:left;font-size:2em"><span style="font-weight:bolder;font-size:1.25em">SP2273 | Learning Portfolio</span><br><br><span style="font-weight:bold;color:darkred">Loops (Need)</span></div>

# What to expect in this chapter

In [45]:
import numpy as np

# 1 The for iterator

In [13]:
real_names = ["Natasha Romanoff", "Tony Stark", "Stephen Strange"] + ["Peter Parker"] + ["Johnny Storm"]

**Poor Example**

In [3]:
name = real_names[0]
print(f"{name} is a Marvel superhero!")

name=real_names[1]
print(f"{name} is a Marvel superhero!")

name=real_names[2]
print(f"{name} is a Marvel superhero!")

Natasha Romanoff is a Marvel superhero!
Tony Stark is a Marvel superhero!
Stephen Strange is a Marvel superhero!

In [4]:
#ORRR (another poor way)
print(real_names[0])
print(real_names[1])
print(real_names[2])

Natasha Romanoff
Tony Stark
Stephen Strange

In [47]:
#VS (better way)

for name in real_names:
    print(f"{name} is a Marvel superhero!")

Natasha Romanoff is a Marvel superhero!
Tony Stark is a Marvel superhero!
Stephen Strange is a Marvel superhero!
Peter Parker is a Marvel superhero!
Johnny Storm is a Marvel superhero!

In [5]:
for name in real_names:
    count  = 0   #this is wrong because everytime you run the loop, it resets the count to 0
    count += 1
    print(count,name)

1 Natasha Romanoff
1 Tony Stark
1 Stephen Strange

In [6]:
for name in real_names:
    count +=1
    print(count,name)

2 Natasha Romanoff
3 Tony Stark
4 Stephen Strange

## 1.1 for with a list

In [ ]:
for name in real_names:
    print(f"{name} is a Marvel superhero!")

In [ ]:
for x in real_names:
    print(f"{x} is a Marvel superhero!")

    #not very clear if you only use x

## 1.2 for with enumerate

In [52]:
super_names = ["Black Widow", "Iron Man", "Doctor Strange"]
real_names = ["Natasha Romanoff", "Tony Stark", "Stephen Strange"]

In [53]:
for count, name in enumerate(real_names):
    print(f'{count}: {name} is a Marvel superhero!')

0: Natasha Romanoff is a Marvel superhero!
1: Tony Stark is a Marvel superhero!
2: Stephen Strange is a Marvel superhero!

In [ ]:
for index, real_name in enumerate(real_names):
    # 0, Nata -> 1, Tony -> 2, Stephen
    superhero_name = super_names[index]
    print(f'{real_name} is {superhero_name}!')

    #this code is pretty confusing to me
    
    ##ANS: the word index is arbitrary and can be replaced with other words
    #the variable "name" is the string that corresponds to the increasing number of the list 
    #without enumerate, it will not assign a number to the "index", and hence cannot draw the similar list value from super_names

In [ ]:
for real_name in real_names:
    # 0, Nata -> 1, Tony -> 2, Stephen
    superhero_name = super_names[index]
    print(f'{real_name} is {superhero_name}!')

    #this code is pretty confusing to me

##without enumerate, it will not be able to draw the same list value from super_names
## it only displays dr strange because it remembers the previous value of the superhero name

Natasha Romanoff is Doctor Strange!
Tony Stark is Doctor Strange!
Stephen Strange is Doctor Strange!

In [56]:
for count, name in enumerate(real_names, 100):
    print(f'{count}: {name} is a Marvel superhero!')
    
    #start from a different number for count

100: Natasha Romanoff is a Marvel superhero!
101: Tony Stark is a Marvel superhero!
102: Stephen Strange is a Marvel superhero!

**In lecture**

In [7]:
for count, name in enumerate(real_names, start =1):
    first_name, last_name = name.split()
    print(count, first_name)

1 Natasha
2 Tony
3 Stephen

In [16]:
all_names = ""
for count, name in enumerate(real_names, start =1):
    first_name, last_name = name.split()
    all_names += f"{count}. {first_name}\n"

print(all_names)

1. Natasha
2. Tony
3. Stephen
4. Peter
5. Johnny

## 1.3 for with range

In [57]:
for i in range(5):
    print(i)

0
1
2
3
4

In [ ]:
for i in range(5, 10):
    print(i)

    #end value change

In [ ]:
for i in range(1, 10, 3):
    print(i)

    #step wise change

**In Lecture**

In [17]:
for i in range(3):
    print(i)

0
1
2

In [18]:
for i in range(3):
    print(i+1, real_names[i])

    #what if you add more names to the list?

1 Natasha Romanoff
2 Tony Stark
3 Stephen Strange

In [19]:
len(real_names)

5

In [ ]:
for i in range(len(real_names)):
    print(i+1, real_names[i])


    #so you dont have to manually update the number

1 Natasha Romanoff
2 Tony Stark
3 Stephen Strange
4 Peter Parker
5 Johnny Storm

In [59]:
for i in range(len(real_names)):
    real_name = real_names[i]
    super_name = super_names[i]        
    print(f"{real_name} is Marvel's {super_name}!")

    #when u lazy and don wanna change the range number

Natasha Romanoff is Marvel's Black Widow!
Tony Stark is Marvel's Iron Man!
Stephen Strange is Marvel's Doctor Strange!

# 2 while

In [ ]:
number = 0

while number < 5:
    print(number)
    number += 1

In [23]:
i=0
while i<10:
    print(i)
    i += 1

0
1
2
3
4
5
6
7
8
9

In [ ]:
x = 1
import numpy as np
while x>1E-3:
        print(f'{x=:.10f}', f'{np.sin(x)=:.3f}', f'{np.tan(x)=:.3f}')
        x/=2

np.isclose

#remember the = sign to display the x or the sin(x) in words
#also remember to add the np. before the function

x=1.0000000000 np.sin(x)=0.841 np.tan(x)=1.557
x=0.5000000000 np.sin(x)=0.479 np.tan(x)=0.546
x=0.2500000000 np.sin(x)=0.247 np.tan(x)=0.255
x=0.1250000000 np.sin(x)=0.125 np.tan(x)=0.126
x=0.0625000000 np.sin(x)=0.062 np.tan(x)=0.063
x=0.0312500000 np.sin(x)=0.031 np.tan(x)=0.031
x=0.0156250000 np.sin(x)=0.016 np.tan(x)=0.016
x=0.0078125000 np.sin(x)=0.008 np.tan(x)=0.008
x=0.0039062500 np.sin(x)=0.004 np.tan(x)=0.004
x=0.0019531250 np.sin(x)=0.002 np.tan(x)=0.002